In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('zscores - z-scores.csv')

In [3]:
df.head()

,gene,mut,BME0304,BME0390,BME0736,BME1013,BME1044,BME1111,BME1361,BME1482,...,ST SptP,ST SpvB,ST SseC,ST SseG,ST SseI,ST SseK1,ST SseK2,ST SseK3,ST SteA,ST SteB
0,AME1,AME1-4,-2.416447,-3.338498,-2.054660,-4.013577,-2.855403,5.111705,-2.538842,4.421458,...,9.940333,-7.831052,1.815253,6.185550,2.733468,-4.319807,5.145169,-6.190894,5.044427,3.347388
1,STU1,STU1-6,4.410011,-3.237750,0.806945,-2.897861,-2.556812,8.975834,0.007004,-0.475765,...,9.822114,-3.297413,-0.207539,3.282244,2.495660,-2.842378,3.540162,-3.097281,1.127274,0.027527
2,DAM1,DAM1-1,-0.782946,-3.948867,-1.686918,-5.811836,-6.502097,7.726596,0.509537,-0.754730,...,9.394349,-5.682675,0.990437,4.435182,4.109357,-7.050231,3.448775,-4.874244,4.411716,0.684206
3,HCM1,HCM1,7.186308,-1.970306,-1.215563,-2.430061,-1.976600,6.239400,0.583791,0.295550,...,9.040042,0.152065,2.787369,3.995688,0.969782,-1.308303,-0.046411,-4.229347,1.650966,0.415312
4,PFY1,PFY1-13,10.003767,2.250820,1.628143,-2.720391,0.955134,3.845737,1.018908,-5.588027,...,8.595672,-0.698260,-2.452674,-0.964266,-3.985594,-4.707969,2.825344,-0.331517,-1.733457,-3.750746

In [4]:
df = df.drop(['mut'], axis=1)

In [5]:
df.head()

,gene,BME0304,BME0390,BME0736,BME1013,BME1044,BME1111,BME1361,BME1482,BME1577,...,ST SptP,ST SpvB,ST SseC,ST SseG,ST SseI,ST SseK1,ST SseK2,ST SseK3,ST SteA,ST SteB
0,AME1,-2.416447,-3.338498,-2.054660,-4.013577,-2.855403,5.111705,-2.538842,4.421458,-4.961561,...,9.940333,-7.831052,1.815253,6.185550,2.733468,-4.319807,5.145169,-6.190894,5.044427,3.347388
1,STU1,4.410011,-3.237750,0.806945,-2.897861,-2.556812,8.975834,0.007004,-0.475765,-2.848157,...,9.822114,-3.297413,-0.207539,3.282244,2.495660,-2.842378,3.540162,-3.097281,1.127274,0.027527
2,DAM1,-0.782946,-3.948867,-1.686918,-5.811836,-6.502097,7.726596,0.509537,-0.754730,-3.859007,...,9.394349,-5.682675,0.990437,4.435182,4.109357,-7.050231,3.448775,-4.874244,4.411716,0.684206
3,HCM1,7.186308,-1.970306,-1.215563,-2.430061,-1.976600,6.239400,0.583791,0.295550,-2.206168,...,9.040042,0.152065,2.787369,3.995688,0.969782,-1.308303,-0.046411,-4.229347,1.650966,0.415312
4,PFY1,10.003767,2.250820,1.628143,-2.720391,0.955134,3.845737,1.018908,-5.588027,2.289361,...,8.595672,-0.698260,-2.452674,-0.964266,-3.985594,-4.707969,2.825344,-0.331517,-1.733457,-3.750746

In [6]:
i, row = next(df.iterrows())
print(row['gene'])

AME1

In [7]:
effectors = df.columns[1:].values

newdf = {'gene':[], 'effector':[], 'zscore':[]}
j = 0
for _, row in df.iterrows():
    gene = row['gene']
    
    for e in effectors:
        newdf['gene'].append(gene)
        newdf['effector'].append(e)
        newdf['zscore'].append(row[e])

In [9]:
newdf = pd.DataFrame(newdf)

In [10]:
newdf.head()

   gene effector    zscore
0  AME1  BME0304 -2.416447
1  AME1  BME0390 -3.338498
2  AME1  BME0736 -2.054660
3  AME1  BME1013 -4.013577
4  AME1  BME1044 -2.855403

In [11]:
newdf.to_csv('gi_dset.csv', index=False)

In [12]:
df = pd.read_csv('gi_dset.csv')

In [13]:
df.head()

   gene effector    zscore
0  AME1  BME0304 -2.416447
1  AME1  BME0390 -3.338498
2  AME1  BME0736 -2.054660
3  AME1  BME1013 -4.013577
4  AME1  BME1044 -2.855403